<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.personalfinance_v01">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountListActivity"
            android:label="@string/accounts"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CreateAccountActivity"
            android:label="@string/createAccount"
            android:parentActivityName=".AccountListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DebtListActivity"
            android:label="@string/debts"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CreateDebtActivity"
            android:label="@string/createDebt"
            android:parentActivityName=".DebtListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GoalListActivity"
            android:label="@string/goals"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddGoalActivity"
            android:label="@string/addGoal"
            android:parentActivityName=".DebtListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddExpIncomeTabbedActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChartsActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HistoryTabbedActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TransferHistoryActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddBudgetActivity"
            android:label="@string/addBudget"
            android:parentActivityName=".BudgetListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BudgetListActivity"
            android:label="@string/budgets"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetailedBudgetActivity"
            android:parentActivityName=".BudgetListActivity" />
        <activity
            android:name=".DetailedGoalActivity"
            android:parentActivityName=".GoalListActivity" />
        <activity
            android:name=".DetailedDebtActivity"
            android:parentActivityName=".DebtListActivity" />
    </application>

</manifest>